[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
pytest-djangoapp = "*"
wheel = "*"
twine = "*"
keyring = "*"

[requires]
python_version = "3.6"
