[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
pytest-djangoapp = "*"

[dev-packages]

[requires]
python_version = "3.6"
